# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# Local databases
*.db
*.sqlite
*.sqlite3

# Environment variables / secrets
.env

# Generated results
results/
